python-dotenv
forex-python
yfinance
yahooquery
pandas
numpy
matplotlib
scipy
scikit-learn
statsmodels
seaborn
sdmx1
pycountry
beautifulsoup4
fuzzywuzzy
python-Levenshtein
openpyxl
geopandas
wrds
xlrd
SciencePlots
lxml